.logo{
    width: 500px;
    height: 250px;
    margin: auto;
    padding:1px;
    background-color: #000000;
    text-align: center;
}
nav {
    width:100%;
    padding: 1%;
    font-size: 28px;
}
.navigation{
    overflow: hidden;
}
header ul {
    width: auto;
    margin:auto;
    list-style: none;
    background-color: #FFFFFF;
    text-align: center;
}
header li{
    display: inline-block;
    padding: 0px 50px;
}
.heroImg {
    height: 25;
    width: 25;
    padding: 100px 15px;
    vertical-align: middle;
}
.face{
    height: 450px;
}
.content{
    width: 1000px;
    margin: auto;
    text-align: center;
}
button{
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 15px;
}
footer ul {
    background-color: #464646;
    list-style: none;
    width: auto;
    margin-left:auto;
    text-align: center;
}
footer li{
    display: inline-block;
    padding: 0px 50px;
    color: #FFFFFF;
}
.bottomNav{
    font-size: 28px;
    display:inline-block;
    vertical-align:top;
}
body {
    background-color: black;
    margin: 0;
}
p{
    font-size: 28px;
    color: white;
    text-align: center;
}
